.bicicleta {
  height: 600px;
  background-image: url("./img/bicicleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
}

h1 {
  margin: auto;
  background: #fff;
  padding: 1rem 2rem;
}

.pattern {
  height: 300px;
  background-color: lightcoral;
  background-image: url("./img/pattern.svg");

}

.linear {
  height: 200px;
  background-image: linear-gradient(to left, lightblue 0%,
   lightcoral 20%,
   blue 30%);
}

.radial {
  height: 200px;
  background-image: radial-gradient(circle, blue, red, green);
}