body {
  height: 1200px;
}

div {
  border: 2px solid #ccc;
  padding: 20px 20px 20px 20px;
  margin-top: 40px;
  position: relative; /*Pai do absolute*/
}

span {
  background: #e7e7e7;
  border: 2px solid #ccc;
  padding: 10px;
  position: absolute; /*filho do relative fica dentro do pai absolute*/
  top: 0px;
}

.fixo {
  position: fixed;
  /*top: 20px;*/
  right: 20px;
  bottom: 20px;
}
