span {
  display: inline-block;
  background: #ddd;
}

span {
  padding: 30px;
  padding: 20px 40px;
  padding: 40px 100px 200px 10px;
  border: 1px solid black;
  border-width: 10px 20px 10px 20px;  
  border-top:10px solid blue;
}