/*Elemento de bloco*/
h1 {
  background: #ddd;
  width: 300px;
}

/*Elementos inline*/
span, a, strong {
  border: 1px solid rgba(0,0,0,0.5);
}

/*Elementos de blocos*/
div, h1, p{
  border: 1px solid rgba(255,0,0,0.5);
}

a {
  padding: 20px;
  display: inline-block;
}