body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

label {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

input {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  background: #ccc;
}

.checkbox label {
  margin: 0px;
}

.checkbox input {
  margin: 0px;
  width: 20px;
  height: 20px;
}


.checkbox{

  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  margin-top: 20px;
}
.botao {
  display: block;
  margin-top: 20px;
  padding: 15px 35px;
  border-radius: 5px;
  background: linear-gradient(#b6f829, #67dd0a);
  font-size: 1rem;
}
