ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

ul li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  background: lightblue;
  padding: 10px 20px;
  display: block;
}
