a {
  text-decoration: none;
  background: darkblue;
  color: white;
  display: inline-block;
}

p{
  background: lightskyblue;
}

.px {
  font-size: 24px;
  padding: 16px  32px; /*converter para rem 16/16 = 1rem     32/16 = 2rem*/
}

.rem {
  font-size: 1.5rem; /* 1 rem = 16px  - 1.5x16 =24   */
  padding: 1rem 2rem; /* 1rem =16px - 2x16=32 */
}