h1, a {
  color: red;
}

#introducao {
  color: goldenrod;
}

.codigo{
  color: blue;
}

.design {
  color: green;
}
.azul {
  color: blue;
}
.underline {
  text-decoration: underline;
}
.grande {
  font-size: 32px;
}