img {
  max-width: 100%;
  display: block;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

h1 {
  grid-column: 1 / -1;
}

/*---------------Responsivo----------------------*/
/*max-width - menor que   min-width - maior que*/
@media (max-width: 600px) {
  div {
    grid-template-columns: 1fr;
  }
h1 {
  background-color: lightblue;
}

}

/*maio que 1000px aumenta a fonte*/
@media (min-width:1000px) {
  html {
    font-size: 150%;
  }
}

@media (min-width: 700px) and (max-width: 900px){
  p{
    background-color: lightseagreen;
  }
}
